.container {
    width: 100%;
    height: 480px;
}

.title {
    height: 40px;
    display: flex;
    align-items: center;
}

form {
    height: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
}