.title-app {
    height: 56px;
    min-width: 100%;
    background-color: var(--tema-001);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-app > h1 {
    max-width: 1500px;
    width: 80%;
}