.body-app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.content-app {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-app {
    max-width: 1500px;
    width: 80%;
    margin-top: 24px;
}

@media (max-width: 920px) {
    .container-app {
        width: 100%;
        padding: 0 16px;
    }    
}